h1 {
    text-align: center;
    margin-bottom: 50px;
}

h1 span {
    font-weight: 900;
}

body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    align-content: center;
}

.game-area {
    border: solid #000;
    border-width: 0 2px 3px 2px;
    display: block;

}